.container{
    margin-bottom: 30px;
    width: 100%;
}
.container nav{
    float: right;
}
.buy-now-btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
h6{
    color: gray;
}
.phone h6{
    color: orange;
}
.card-text{
    color: gray;
}
.card{ 
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgray;
}
.card-body{
    text-align: center;
} 
.card-deck{
    margin: 6% 10%;
}
h3{
   height: 100px;
   text-align: center;
}
.categories{
    height: 100%;
    width: 100%;
}
.cat3 img{
    width: 100%;
    padding-left:10px;
}

.cat1, .cat2{
    text-align: justify;
}
