.container{
    margin-bottom: 100px;
   align-content: center;
   text-align: justify;
}
.container nav{
    float: right;
}
.buy-now-btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
h6{
    color: gray;
}
.card-text{
    color: gray;
}
.card{ 
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgray;
}
.card-body{
    text-align: center;
} 
.phone h6{
    float: right;
    color: orange;
}
.phone{
  
}
.card-deck{
    margin: 6% 10%;
}
